body {
    overflow-x: hidden;
}

.bg-plum, .btn-plum {
    background-color: plum;
}

h2 {
    color: plum;
}

.navbar {
    background-color: pink !important;
}

.link-novedades:hover {
    box-shadow: 0 0 8px 2px pink;
}

.carousel {
    box-shadow: 0 8px 16px 0 plum;
}

.overlay-banner-1 {
    position: absolute;
    top: 360px;
    left: 120px;
}
.overlay-banner-2 {
    position: absolute;
    top: 360px;
    right: 236px;
}

.vermas:hover {
    color: pink !important;
}

footer {
    background-color: pink;
}

.copyright {
    background-color: plum;
    color: white;
}